body{
    text-align: center;
}
.body_background {
    background-image: url(bg.jpeg);
    background-position: center;
    background-size: 300%;
    background-repeat: no-repeat;

}
#titulo{
    color: goldenrod;
    font-size: 30px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#bloque{
    width: 100%;
    border: 5px;
    border-color: white;
}
.input{
    border: 5px;
    border-color: black;
}

.copy_right_footer {
    position: fixed;
    color: #c7c4ab;
    bottom: 0;
    width: 100%;
    font-size: 16px;
    background-color: #a03d1f6c;
    line-height: 2;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(226, 17, 17);
 }
    